<%= form_for(@panther) do |f| %>
  <% if @panther.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@panther.errors.count, "error") %> prohibited this panther from being saved:</h2>

      <ul>
      <% @panther.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :claw_length %><br>
    <%= f.number_field :claw_length %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
