<h1>Listing panthers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Claw length</th>
      <th>Cat toys owned</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @panthers.each do |panther| %>
      <tr>
        <td><%= panther.name %></td>
        <td><%= panther.claw_length %></td>
        <% if panther.cat_toys.empty? %>
          <td></td>
        <% else %>
          <td>
            <% panther.cat_toys.map do |ct| %>
              <%= link_to ct.name, ct %>
            <% end %>
          </td>
        <% end %>
        <td><%= link_to 'Show', panther %></td>
        <td><%= link_to 'Edit', edit_panther_path(panther) %></td>
        <td><%= link_to 'Destroy', panther, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Panther', new_panther_path %>
